//todo: choose different fonts for text. also, lighten the background color. 
//todo: responsive design

$font-stack:    Alata, sans-serif;
$background: white;

// background
.shared-background {
  background-color: $background;
}


//home styles
.home-title {
	font-family: $font-stack;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-nav {
  ul{
	list-style-type: none;
  display: flex;
  align-items: center;
	justify-content: flex-end;
  }

  li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  font-family: $font-stack;
  }

  li a {
  color:grey;
  text-decoration: none;
  &:hover {
  text-decoration: underline;
  }
  }
}


//general (posts, about) styles
.general-nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  a {
  	font-family: $font-stack;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: grey;
    &:hover {
      text-decoration: underline;
    }
  }
}

.general-title {
	font-family: $font-stack;
	display: flex;
	align-items: center;
	justify-content: center;
}


//about text style
.about-text {
 width: 300px;
 margin: 0 auto;
 font-family: $font-stack;
 p {
   display: inline-block;
 }
}


//posts text style
.posts-text {
  width: 80%;
  margin: 0 auto;
  font-family: $font-stack;
    ul {
      list-style-type: none;
    }
}
