//todo: choose different fonts for text. also, lighten the background color. 
//todo: responsive design

$sans-serif: 'Nanum Gothic', sans-serif;
$serif: 'Playfair Display', serif;
$background: white;

// background
.shared-background {
  background-color: $background;
}

//TODO: sam hoffman above nav on home page for mobile
//home styles
.home-title {
	font-family: $serif;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-nav {
  ul{
	list-style-type: none;
  display: flex;
  align-items: center;
	justify-content: flex-end;
  }

  li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  font-family: $sans-serif;
  }

  li a {
  color:grey;
  text-decoration: none;
  &:hover {
  text-decoration: underline;
  }
  }
}


//general (posts, about) styles
.general-nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  a {
  	font-family: $sans-serif;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: grey;
    &:hover {
      text-decoration: underline;
    }
  }
}

.general-title {
	font-family: $serif;
	display: flex;
	align-items: center;
	justify-content: center;
}


//about text style
//TODO: list style type dashes instead of bullets
.about-text {
 width: 90%;
 margin: 0 auto;
 font-family: $sans-serif;
 p {
   display: inline-block;
 }
 a {
   font-family: $sans-serif;
   text-decoration: none;
   color: grey;
   &:hover {
      text-decoration: underline;
    }
  }
  ul {
    margin: 3px;
    li {
    margin: 5px;
    }
  }
}

//posts text style
.posts-text {
  width: 80%;
  margin: 0 auto;
  font-family: $sans-serif;
    ul {
      list-style-type: none;
    }
}

.blog-title {
  sub {
  font-family: $sans-serif;
  margin: 0 auto;
  }
  h3 {
   font-family: $serif;
   margin: 0 auto;
  }
  a {
    font-family: $serif;
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.blog-post-excerpt {
  font-family: $sans-serif;
  text-align: left;
  width: 80%;
}

//image style
.image-centered {
margin: 0 auto;
display: block;
}
